﻿
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>

    <link rel="stylesheet" href="~/css/admin.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @RenderSection("HeadCss", required: false)

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("HeadScripts", required: false)

</head>
<body>
    <header></header>

    <partial name="Admin/_AdminNavPartial" />
    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("BottomScripts", required: false)
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/admin-scripts.js"></script>

</body>
</html>
