﻿@model Eshop.Models.Eshop.ProductEshopViewModel
@{
    ViewData["Title"] = "Detail";
    var firstImg = Model.Images.FirstOrDefault();
}


<div class="eshop-product-detail">

    <div class="product-detail-imgs">
        <div class="product-detail-imgs-big">
            <img src="@firstImg.Path" alt="@firstImg.Name" />
        </div>
        <div class="product-detail-imgs-list">
            @foreach (var img in Model.Images)
            {
                <img src="@img.Path" alt="@img.Name" />
            }
        </div>
    </div>

    <div class="product-detail-desc">        
        <span class="category-name">Tričko pánske</span>
        <h2>@Model.Name</h2>
        <p>
            @Model.Description
        </p>
        <span class="product-price">@Model.PriceVAT &euro;</span>
        <div class="add-to-cart">

        </div>
        

    </div>

</div>


<div class="product-detail-similar">

</div>

