﻿@model Eshop.Models.Eshop.EshopViewModel
@{

}

 <div class="eshop-container">
     
        @*<div class="eshop-categories list-group">
            @foreach (var category in Model.Categories)
            {
                string active = category.Active ? "active" : "";

                <a href="#" class="list-group-item list-group-item-action @active">@category.Name</a>
            }
        </div>*@

    @foreach (var category in Model.CategoryProductView)
    {
        <div class="eshop-category">
            <div class="eshop-category-name">
                <span>@category.Item1</span>
            </div>
            <div class="eshop-products">
                @foreach (var product in category.Item2)
                {
                    <div class="eshop-product">
                        <div class="product-image">
                            <a href="/Eshop/product/@product.Id">
                                <img src="@product.ThumbnailImagePath" alt="@product.Name" />
                            </a>
                        </div>
                        <div class="product-name">
                            <a href="/Eshop/detail/@product.Id">
                                @product.Name
                            </a>
                        </div>
                        <div class="product-desc">
                            @product.Description
                        </div>
                        <div class="product-price">
                            @product.PriceVAT &euro;
                        </div>
                    </div>
                }
            </div>
        </div>
    }


</div>



