﻿@model Eshop.Models.Admin.Product.ProductEditCreateModel
@{
    Layout = ViewData["Layout"].ToString();
    int imageCounter = 0;
    int optionCounter = 0;
}

@section HeadScripts {
    <script src="~/lib/dropzone/dropzone.js"></script>
}

@section HeadCSS {
    <link rel="stylesheet" href="~/lib/dropzone/dropzone.css" />
}


<ul class="nav nav-tabs" id="myTab" role="tablist" style="position: relative;">
    <li class="nav-item">
        <a class="nav-link active" id="product-tab" data-toggle="tab" href="#product" role="tab" aria-controls="product" aria-selected="true">Product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="quantities-tab" data-toggle="tab" href="#quantities" role="tab" aria-controls="quantities" aria-selected="false">Quantities</a>
    </li>
    <li>
        @if (Model.IsUpdate)
        {
            <input type="button" value="Save" class="btn btn-success product-submit-btn" onclick="$('#product-form').attr('action', '/Product/Update').submit()" />
        }
        else
        {
            <input type="button" value="Save" class="btn btn-success product-submit-btn" onclick="$('#product-form').submit()" />
        }

    </li>
</ul>

@using (Html.BeginForm("Create", "Product", method: FormMethod.Post, htmlAttributes: new { enctype = "multipart/form-data", id = "product-form" }))
{
    <div class="tab-content" id="myTabContent" style="padding: 15px 0;">
        <div class="tab-pane fade show active" id="product" role="tabpanel" aria-labelledby="product-tab">
            <h3>Description</h3>

            <div class="form-group">
                @Html.LabelFor(t => t.Active, "Active: ")
                @Html.CheckBoxFor(t => t.Active, new { @style = "margin-left: 5px;" })
            </div>
            <div class="form-group">
                @Html.LabelFor(t => t.Name, "Name: ")
                @Html.TextBoxFor(t => t.Name, new { @class = "form-control", placeholder = "Enter product name" })
                @Html.ValidationMessageFor(t => t.Name)
            </div>

            <div class="form-group">
                @Html.LabelFor(t => t.Category, "Category: ")                
                <select class="form-control" id="product-category" name="Category">
                    @foreach (var item in Model.Categories)
                    {
                        <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                    }
                </select>

            </div>

            <div class="form-group">
                @Html.LabelFor(t => t.Description, "Description: ")
                @Html.TextAreaFor(t => t.Description, new { @class = "form-control", placeholder = "Enter description" })
                @Html.ValidationMessageFor(t => t.Description)
            </div>

            <div class="row">
                <div class="col-sm">
                    @Html.LabelFor(t => t.Price, "Price: ")
                    @Html.TextBoxFor(t => t.Price, Model.Price > 0 ? Model.Price.ToString() : " ", new { @class = "form-control", placeholder = "Enter price", @id = "product-price" })
                    @Html.ValidationMessageFor(t => t.Price)
                </div>
                <div class="col-sm">
                    @Html.LabelFor(t => t.PriceVAT, $"VAT price ({Model.VAT}%): ")
                    @Html.TextBoxFor(t => t.PriceVAT, Model.PriceVAT > 0 ? Model.PriceVAT.ToString() : " ", new { @class = "form-control", @id = "product-price-vat" })
                    @Html.ValidationMessageFor(t => t.PriceVAT)
                </div>
            </div>

            <hr>

            <h3>Images</h3>
            <div id="product-dz" class="dropzone dz-clickable">
                <div class="fallback">
                    <input type="file" name="Images" multiple>
                </div>
            </div>
            @if (Model.Images != null && Model.Images.Count > 0)
            {

                <h3 style="margin-top: 10px;">
                    Saved Images
                </h3>
                <div class="product-saved-imgs">

                    @foreach (var item in Model.Images)
                    {
                        <div class="product-saved-img">
                            <img src="~/lib/bootstrap/dist/icons/x-circle.svg" class="delete" alt="" width="25" height="25" onclick="DeleteImage($(this).parent().remove())">
                            <img src="@item.Path" />
                            <input type="hidden" value="@item.Path" name="Images[@imageCounter].Path">
                            <input type="hidden" value="@item.Name" name="Images[@imageCounter].Name">
                            <input type="hidden" value="@item.Id" name="Images[@imageCounter].Id">
                            @{ imageCounter++; }
                        </div>
                    }
                </div>
            }



        </div>
        <div class="tab-pane fade" id="quantities" role="tabpanel" aria-labelledby="quantities-tab">
            @if (Model.OptionTypes != null && Model.OptionTypes.Count > 0)
            {
                <div style="width: 20%;display: flex; margin-bottom: 20px;">
                    @Html.DropDownList("aswasd", Model.OptionTypes, "", new { @class = "form-control ", id = "option-types" })
                    <input type="button" id="optionAdd" class="btn btn-info" value="Add" style="margin-left: 10px;" />
                </div>
                <hr />
            }
            <div id="product-create-types">
                @if (Model.Options != null && Model.Options.Count > 0)
                {
                    @foreach (var item in Model.Options)
                    {
                        <div class="option-container row">
                            <div class="col-2" id="product-create-type">
                                <span>@item.Name</span>
                            </div>
                            <div class="col-10 row" id="product-create-options">
                                @foreach (var option in item.Options)
                                {
                                    <div class="col-sm">
                                        @option.Name
                                        <input type="text" class="form-control" value="@option.Value" name="Quantities[@optionCounter].Value" />                                        
                                        <input type="hidden" value="@option.QuantityId" name="Quantities[@optionCounter].QuantityId" />
                                        <input type="hidden" value="@option.Id" name="Quantities[@optionCounter].OptionId" />
                                        @if (item.ParentOptionId != null)
                                        {
                                            <input type="hidden" value="@item.ParentOptionId" name="Quantities[@optionCounter].ParentOptionId" />
                                        }
                                        @{ optionCounter++; }
                                    </div>
                                    
                                }
                            </div>
                        </div>
                        <hr />
                    }
                }

            </div>
        </div>
    </div>

    @Html.HiddenFor(t => t.TempImageID);
    @if (Model.IsUpdate)
    {
        <input type="hidden" value="@Model.Id" name="Id" />
    }
}

@section BottomScripts {
    <script>

        function DeleteImage(element) {
            $(element).parent().remove()
            RecalculateImageIds();            
        }

        function RecalculateImageIds() {
            var counter = 0;
            $("input[name*='Images']").each(function (index, val) {
                if (index != 0 && index % 3 == 0) {
                    counter++;
                }

                var inName = val.name;
                var inNum = inName.substring(inName.indexOf("[")+1, inName.indexOf("]"))                
                    console.log(inName,inNum )
                var tt = val.name.replace("["+inNum+"]", "["+counter+"]");
                $(val).attr("name", tt)
            })
        }

        var optionCounter = 0;
        $("#optionAdd").on("click", function () {
            var value = $("#option-types").val();
            var text = $( "#option-types option:selected" ).text();

            //  TODO: new divs, delete

            $.ajax({
                url: "@Url.Action("GetOptionsForType", "Product")",
                method: "POST",
                dataType: "json",
                data: { optionTypeId: value},
                success: function (data) {
                    console.log(data);
                    //$("#quantities").empty();
                    //$("#product-create-type").append("<span>" + text + "</span>")                    
                    $.each(data.options, function (i, val) {
                        console.log(val)
                        var options = "";
                        $.each(val.options, function (i, data) {
                            var counter = (i + optionCounter);
                            options += "<div class=\"col-sm\">" + data.name + "<input type=\"text\" class=\"form-control\" name=\"Quantities[" + counter + "].Value\" />" +
                                "<input type=\"hidden\" name=\"Quantities[" + counter + "].OptionId\" value=\"" + data.id + "\">";

                            if (val.parentOptionId > 0)
                                options += "<input type=\"hidden\" name=\"Quantities["+counter+"].ParentOptionId\" value=\""+val.parentOptionId+"\">";

                            options += "</div > ";                            
                        });
                        optionCounter += val.options.length;
                        console.log(optionCounter)

                        $("#product-create-types").append("<div class=\"option-container row\">"+
                            "<div class=\"col-2\" id=\"product-create-type\"><span>" + val.name + "</span></div>" +
                            "<div class=\"col-10 row\" id=\"product-create-options\"> " + options + " </div></div><hr /> ");                        
                        
                        $("#product-form").append("<input type=\"hidden\" name=\"OptionRelationId\" value=\"" + value + "\">")                                              
                    });
                    
                },
                error: function (data) {
                    console.log(data);
                }
            })
        })

        $("#product-price").on("keyup", function () {
            if ($(this).val().includes(','))
                $(this).val($(this).val().replace(',', '.'));

            var value = Number($(this).val());
            var vat = @Model.VAT;

            if (value != 0)
            {
                var newPrice = (value + (value * (vat / 100))).toFixed(2);
                $("#product-price-vat").val(newPrice);
            }
        });


        var tempID = '@Model.TempImageID';        
        var uploadedCounter = 0
        $("div#product-dz").dropzone({
            url: "/product/SaveProductImages",
            uploadMultiple: true,
            addRemoveLinks: true,
            parallelUploads: 1,
            init: function () {
                this.on('sending', function (file, xhr, formData) {
                    formData.append('TempID', tempID);
                });

                this.on('success', function (data, response) {
                    console.log(response);

                    var savedImagesCounter = $(".product-saved-img").length;
                    var idx = savedImagesCounter + uploadedCounter;
                    $.each(response.images, function (i, dataa) {

                        $('#product-form').append("<input type=\"hidden\" value=\"" + dataa.path + "\" name=\"Images[" + idx + "].Path\">")
                        $('#product-form').append("<input type=\"hidden\" value=\"" + dataa.name + "\" name=\"Images[" + idx + "].Name\">")
                        //$('#product-form').append("<input type=\"hidden\" value=\"" + dataa + "\" name=\"Photos[" + idx + "].IsThumbnail\">")
                        uploadedCounter ++;
                    })

                })
            },
            removedfile: function (file) {
                var name = file.name;

                $.ajax({
                    type: 'POST',
                    url: '/product/DeleteSavedImage',
                    data: { name: name, tempID: tempID },
                    success: function (data) {
                        console.log('success: ' + data);

                        var inName = $("input[value='" + name + "']")[0].name;
                        inName = inName.substring(0, inName.indexOf(']') + 1);

                        $("input[name*='"+inName+"']").remove()
                        uploadedCounter--;
                        RecalculateImageIds()
                    }
                });
                
                var _ref;
                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
            }
        });
    </script>
}

