﻿@model IList<Eshop.Models.Admin.Product.ProductViewModel>
@{
    Layout = ViewData["Layout"].ToString();
}


<div class="admin-category-add">
    <h2>Product list</h2>
    <input type="text" placeholder="Search..."  class="form-control mx-sm-3" id="search"/>
    <a href="@Url.Action("Create", "Product")" class="btn btn-success">Create</a>
    
</div>


<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">CategoryName</th>
            <th scope="col">Active</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>   
        @if(Model != null)
        {
            foreach (var product in Model)
            {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.CategoryName</td>
                <td>@product.Active</td>
                <td>
                    @Html.ActionLink("Edit", "Update", "Product", new { id = product.Id }, new { @class = "btn btn-warning" })
                    <a href="#" onclick="window.confirm('Are you sure?')? window.location.href = 'Product/Delete/@product.Id': ''" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            }

        }
        
    </tbody>
</table>

