﻿@model Eshop.Models.Admin.Product.ProductOptionViewModel
@{
    Layout = ViewData["Layout"].ToString();
}

<ul class="nav nav-tabs" id="myTab" role="tablist" style="position: relative;">
    <li class="nav-item">
        <a class="nav-link active" id="option-tab" data-toggle="tab" href="#option" role="tab" aria-controls="option" aria-selected="true">Options</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="option-type-tab" data-toggle="tab" href="#option-type" role="tab" aria-controls="option-type" aria-selected="false">Option Types</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="option-relations-tab" data-toggle="tab" href="#option-relations" role="tab" aria-controls="option-relations" aria-selected="false">Option Relations</a>
    </li>
</ul>

<div class="tab-content" id="myTabContent" style="padding: 15px 0;">
    <div class="tab-pane fade show active" id="option" role="tabpanel" aria-labelledby="option-tab">
        <partial name="/Views/Admin/Product/Partials/_productOptions.cshtml" model="Model" />
    </div>

    <div class="tab-pane fade" id="option-type" role="tabpanel" aria-labelledby="option-type-tab">
        <partial name="/Views/Admin/Product/Partials/_productOptionTypes.cshtml" model="Model.OptionTypes" />
    </div>

    <div class="tab-pane fade" id="option-relations" role="tabpanel" aria-labelledby="option-relations-tab">
        <partial name="/Views/Admin/Product/Partials/_productOptionRelations.cshtml" model="Model" />
    </div>
</div>

       


@section BottomScripts
{
    <script>
        function EditOption(Name, TypeId, Id) {
            var optionElm = "option-type";
            
            if (TypeId) {
                optionElm = "option";
                $("#option-type-create option[value=" + TypeId + "]").attr("selected", "selected");
            }
                
            $("#"+optionElm+"-name-create").val(Name);

            $("#product-"+optionElm+"-create-btn").hide();
            $("#product-"+optionElm+"-edit-btn").show();
            $("#product-" + optionElm + "-cancel-btn").show();

            if (TypeId)
                $("#OptionCreate").append("<input type=\"hidden\" value=\"" + Id + "\" name=\"Id\" id=\"ProductOptionId\">")
            else
                $("#OptionTypeCreate").append("<input type=\"hidden\" value=\"" + Id + "\" name=\"Id\" id=\"ProductOptionId\">")
        }

        $("input[id*=cancel-btn]").on("click", function (e) {
            e.preventDefault();

            $("#OptionTypeCreate input[type='text']").val("");
            $("#OptionCreate input[type='text']").val("");

            $("input[id*=create-btn]").show();
            $("input[id*=edit-btn]").hide();
            $("input[id*=cancel-btn]").hide();

            $("#ProductOptionId").remove();
        })

        $("#product-option-edit-btn").on("click", function (e) {
            e.preventDefault();
            $('#OptionCreate').attr('action', "/Product/OptionEdit").submit();
        });

        $("#product-option-type-edit-btn").on("click", function (e) {
            e.preventDefault();
            $('#OptionTypeCreate').attr('action', "/Product/OptionTypeEdit").submit();
        });

        $("#ParentOptionId").on("change", function () {
            $("#ChildOptionId option").show();

            var val = $("#ParentOptionId option:selected").text()
            var child = $("#ChildOptionId option:selected").text()
            $("#ChildOptionId option:contains(" + val + ")").hide()

            $("#relation-name").val(val+"-"+child)
        })

         $("#ChildOptionId").on("change", function () {
            var val = $("#ParentOptionId option:selected").text()
            var child = $("#ChildOptionId option:selected").text()

            $("#relation-name").val(val+"-"+child)
        })

        $('document').ready(function () {
            var parent = $("#ParentOptionId option:selected").text()
            var child = $("#ChildOptionId option:selected").text()
            $("#ChildOptionId option:contains(" + parent + ")").hide()
            $("#relation-name").val(val+"-"+child)
        })

    </script>

}
