﻿@model Eshop.Models.Admin.Product.ProductOptionViewModel

<div class="product-option-create">
    <h2>Create / Edit</h2>
    <hr />
    @using (Html.BeginForm("OptionCreate", "Product", FormMethod.Post, new { id = "OptionCreate" }))
    {
        <div class="row">
            <div class="col-sm">
                @Html.LabelFor(t => t.OptionTypes, "Option Type: ")
                @Html.DropDownList("OptionTypeId", Model.OptionTypesList, new { @class = "form-control", id = "option-type-create" })
            </div>
            <div class="col-sm">
                <label id="Name" name="Name">Name: </label>
                <input type="text" name="Name" id="option-name-create" class="form-control" />
                @*@Html.TextBoxFor(t => t.Name, new { @class = "form-control" })*@
            </div>
            <div class="col-sm">
                <input type="submit" class="btn btn-success" value="Create" id="product-option-create-btn" style="margin-top: 30px;" />
                <input type="button" class="btn btn-warning" value="Edit" id="product-option-edit-btn" style="margin-top: 30px; display:none;" />
                <input type="button" class="btn btn-danger" value="Cancel" id="product-option-cancel-btn" style="margin-top: 30px; display:none;" />
            </div>
        </div>
    }
</div>

<div class="product-option-list">
    <h2>Options</h2>
    <hr />
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Option Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Options)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.OptionType</td>
                    <td>
                        <a href="#" onclick="EditOption('@item.Name', '@item.OptionTypeId', '@item.Id')" class="btn btn-warning">Edit</a>
                        <a href="#" onclick="window.confirm('Are you sure?')? window.location.href = 'OptionDelete/@item.Id': ''" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>