﻿@model Eshop.Models.Admin.Product.ProductOptionViewModel

<div class="product-option-create">
    <h2>Create</h2>
    <hr />
    @using (Html.BeginForm("OptionRelationCreate", "Product", FormMethod.Post, new { id = "OptionRelationCreate" }))
    {
        <div class="row">
            @if(Model.OptionTypesList != null && Model.OptionTypesList.Count > 1)
            {
                <div class="col-sm">
                    @Html.DropDownList("ParentOptionId", Model.OptionTypesList, new { @class="form-control", id="ParentOptionId" })
                </div>
                <div class="col-1 text-center">
                    <img src="~/lib/bootstrap/dist/icons/arrow-left-right.svg" width="50%" />
                </div>
                <div class="col-sm">
                
                    @Html.DropDownList("ChildOptionId", Model.OptionTypesList, "", new { @class="form-control", id="ChildOptionId" })
                </div>
                <div class="col-sm">
                    <input type="submit" class="btn btn-success" value="Create" id="product-option-type-create-btn" />
               
                </div>
                @Html.Hidden("Name", "", new { id = "relation-name" })
            }            
        </div>
    }
</div>

<div class="product-option-list">
    <h2>Relations</h2>
    <hr />
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OptionRelations)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <a href="#" onclick="window.confirm('Are you sure?')? window.location.href = 'OptionRelationDelete/@item.Id': ''" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


