﻿@model IList<Eshop.Models.Admin.Product.ProductOptionView>

<div class="product-option-create">
    <h2>Create / Edit</h2>
    <hr />
    @using (Html.BeginForm("OptionTypeCreate", "Product", FormMethod.Post, new { id = "OptionTypeCreate" }))
    {
        <div class="row">
            @*<div class="col-sm">
                @Html.LabelFor(t => t.Category, "Category: ")
                <label id="Category" name="Category">Category: </label>

            </div>*@
            <div class="col-sm">
                <label id="Name" name="Name">Name: </label>
                <input type="text" name="Name" id="option-type-name-create" class="form-control" />
                @*@Html.TextBoxFor(t => t.Name, new { @class = "form-control" })*@
            </div>
            <div class="col-sm">
                <input type="submit" class="btn btn-success" value="Create" id="product-option-type-create-btn" style="margin-top: 30px;" />
                <input type="button" class="btn btn-warning" value="Edit" id="product-option-type-edit-btn" style="margin-top: 30px; display:none;" />
                <input type="button" class="btn btn-danger" value="Cancel" id="product-option-type-cancel-btn" style="margin-top: 30px; display:none;" />
            </div>
        </div>
    }
</div>

<div class="product-option-list">
    <h2>Option types</h2>
    <hr />
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <a href="#" onclick="EditOption('@item.Name', null, '@item.Id')" class="btn btn-warning">Edit</a>
                        <a href="#" onclick="window.confirm('Are you sure?')? window.location.href = 'OptionTypeDelete/@item.Id': ''" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>