﻿@model Eshop.Models.Admin.Category.CategoryEditCreateModel
@{
    Layout = ViewData["Layout"].ToString();
    string postMethod = "";
    if (string.IsNullOrEmpty(Model.Name))
    {
        postMethod = "Create";
    }
    else
    {
        postMethod = "Update";
    }
    

    

}
@using (Html.BeginForm(postMethod, "Category", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="category-name">Category name: </label>        
        @Html.TextBoxFor(t => t.Name, new { @class = "form-control", placeholder = "Enter category name" })
        @Html.ValidationMessageFor(t => t.Name)        
    </div>
    <div class="form-group">
        <label for="category-parent">Parent</label>
        @Html.DropDownListFor(t => t.ParentCategoryId, Model.CategoryNames, new { @class = "form-control" })

    </div>
    @Html.HiddenFor(t => t.Id, Model.Id)
    <button type="submit" class="btn btn-primary">Submit</button>
}


