﻿@model IList<Eshop.Models.Admin.Category.CategoryViewModel>

@{
    Layout = ViewData["Layout"].ToString();
}

<div class="admin-category-add">
    <h2>Categories</h2>
    <input type="text" placeholder="Search..." class="form-control mx-sm-3" id="search" />
    <a href="@Url.Action("Create", "Category")" class="btn btn-success">Create</a>
</div>


<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Parent</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.ParentCategoryName</td>
                <td>
                    @Html.ActionLink("Edit", "Update", "Category", new { id = item.Id }, new { @class = "btn btn-warning" })
                    <a href="#" onclick="window.confirm('Are you sure?')? window.location.href = 'Category/Delete/@item.Id': ''" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }      
    </tbody>
</table>