﻿body{
    margin: 0;
}
html, body {
    height: 100%;
}

header, .admin-nav {
    color: white;
    background-color: #262b38;
}

header {
    height: 50px;
}
.admin-nav {
    width: 15%;
    height: 100%;
    float: left;
    font-size: 1rem;
}

.admin-nav a {
    color: white;
    text-decoration: none;
}

.admin-nav a:hover {    
    text-decoration: none;
}


.admin-nav .menu, .admin-nav-submenu ul {
    list-style: none;
    padding: 0;
}

.admin-nav .menu {
    margin-top: 10%;
}

.admin-nav .menu .menu-item {
    /*padding: 10%;	*/
}

.admin-nav .menu .menu-item > a {
    background-color: #1f2433;
    padding: 11px 10%;
    display: flex;
}

.admin-nav-submenu a, .admin-nav-submenu ul li {
    color: #989eb3;
}

.admin-nav-submenu ul li {
    padding: 5px 20%;
    width: 60%;
    cursor: pointer;
}

.admin-nav-submenu ul li:hover, .admin-nav-submenu a:hover, .admin-nav .menu .menu-item > a:hover {
    color: #ffffff;
}

.admin-nav-submenu ul li:hover {
    background-color: #1f2433;
    color: #ffffff;
}

.container{
    margin-top: 2%;
}

.admin-category-add {
    display: block ruby;
    margin-bottom: 15px;
}

.admin-category-add a, .admin-category-add input{
    float: right; 
}
.admin-category-add input {
    width: 200px;
}

.product-submit-btn {
    position: absolute;
    width: 150px;
    right: 0;
    cursor: pointer;
}

.product-option-list{
    margin-top: 3%;
}

.product-saved-imgs
{
    display: flex;
}
.product-saved-img {
    width: 15%;
    margin-left: 5px;
    position: relative;
    padding: 15px;
}

.product-saved-img .delete {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.product-saved-img img {
    max-width: 100%;
    max-height: 100%;
}

#product-create-options {
    display: flex;
}
#product-create-options input {
    width: 90%;
    
}