﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


/*//////////////////////////////////////// LOGIN ////////////////////////////////////*/

.auth-form 
{
    width: 20%;
    text-align: center;
    margin: 1% auto;
}


/*///////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////// ESHOP /////////////////////////////////////*/

.eshop-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    /*display: flex;*/
    /*border: 1px solid red;*/
}

.eshop-categories {
    position: relative;
    width: 15%;
    background-color: #271114;
}

.eshop-category {
    position: relative;
    width: 100%;
    padding:0 15px;
    /*border:1px solid blue;*/
    margin: 25px 0;
}

.eshop-products {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    color: black;
}
.eshop-products a{
    color: black;
}
.eshop-category-name{
    border-left: 5px solid black;
    margin-bottom: 25px;
}

.eshop-category-name span{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2em;
    color: grey;
    margin-left: 20px;
}

.eshop-product {
    position: relative;
    width: 15%;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding: 15px;
}
.eshop-products .eshop-product:last-child, .eshop-products .eshop-product :nth-child(6) {
    border-right: 1px solid grey;
}

.eshop-product .product-image {
    padding: 5%;
}
.eshop-product .product-image img {
    width: 100%;
}
.product-name, .product-desc, product-price {
    text-transform: uppercase;
}

.product-desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-name{
    color: grey;
    font-weight: 900;
}

/*////////////////////////////////// ESHOP PRODUCT DETAIL ///////////////////////////////*/
.eshop-product-detail{
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 800px;
    max-height: 800px;
    display: flex;
    padding: 20px 0;

    border: 1px solid grey;
    border-top: 0;
}

.product-detail-imgs {
    position: relative;
    width: 45%;

}

.product-detail-imgs-big {
    text-align: center;
    height:70%;
}

.product-detail-imgs-big img {
    max-width:100%;
    max-height:100%;
}

.product-detail-imgs-list {
    height: 30%;
    padding: 2%;
}
.product-detail-imgs-list img {
    max-width: 90%;
    max-height: 90%;
    margin-right: 5px;
}

.product-detail-desc {
    position: relative;
    width: 55%;
    color:black;
    /*border: 1px solid green;*/
    
}

.product-detail-desc .category-name, .product-detail-desc h2 {
    text-transform: uppercase;
}

.product-detail-desc .category-name {
    color: grey;
    font-weight: 900;
    font-size: 1em;    
}

.product-detail-desc h2{
    font-size: 2em;
    font-weight: 900;
    margin-top: 15px;
    color: black;
}
.product-detail-desc p{
    margin-top: 50px;
}


